---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">About Me</h1>
		<p class="mb-4">My name is Bryan Alves, and I’m a software engineer in the Boston area. I mostly work on web applications using a variety of technologies.
    </p>
    <h2 class="text-lg font-semibold">Additional Links</h2>
    <ul class="leading-relaxed">
      <li><a class="cactus-link href="https://linkedin.com/bryanalves">LinkedIn</a>
      <li><a class="cactus-link href="https://github.com/bryanalves">Github</a>
      <li><a class="cactus-link href="https://twitter.com/bryanalves">Twitter</a>
      <li><a class="cactus-link" href="https://www.dropbox.com/s/dcrkchfg50esc29/resume.pdf?raw=1">Resume</a></li>
      <li><a class="cactus-link" href="https://www.dropbox.com/s/xuxtrtax3nk807u/A9806FD1E6309118.gpg?dl=1">GPG</a></li>
    </ul>
	</section>
	<section aria-label="Blog post list" class="mt-8">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
